<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-min}">
<head>
</head>
<body class="hold-transition register-page">
	<div layout:fragment="content">
		<br /> <br />
		<div class="register-logo">
			<a href="../../index2.html"><b>Registration</b></a>
		</div>
		<div class="wrapper">
			<div class="card">

				<div class="card-body  login-card-body">
					<p class="login-box-msg">Start a new membership to explore this
						awesome application</p>

					<form action="/" method="post">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Full name">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-user"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="email" class="form-control" placeholder="Email">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control"
								placeholder="Password">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control"
								placeholder="Retype password">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<input type="checkbox" id="agreeTerms" name="terms"
										value="agree"> <label for="agreeTerms"> I
										agree to the <a href="#">terms</a>
									</label>
								</div>
							</div>
							<div class="col-4">
								<!--             <button type="submit" class="btn btn-primary btn-block">Register</button> -->
								<a href="/" class="btn btn-primary btn-block">Register</a>
							</div>
						</div>
					</form>

					<div class="social-auth-links text-center mb-3">
						<p>- OR -</p>
						<br /> <a href="#" class="btn btn-block bg-purple"> <i
							class="fab fa-facebook mr-2"></i> Sign-In Using Facebook
						</a><br /> <br /> <a href="#" class="btn btn-block bg-green"> <i
							class="fab fa-google-plus mr-2"></i>Sign-In Using Google+
						</a>
					</div>

					<a href="/login" class="text-center">I already have a
						membership</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
